@font-face {
    font-family: Proxima-nova;
    src: url("/Fonts/Fontspring-DEMO-proximanova-blackit.otf");
}
@font-face {
    font-family: Proxima-nova_light;
    src: url("/Fonts/Fontspring-DEMO-proximanovacond-lightit.otf");
}

h1, h2, p {
    margin: 0;
}

body{
    margin: 0;
    overflow-x: hidden;
}

h1, h2 {
    text-align: center;
}

#bg{
    position: absolute;
    bottom: 0vh;
    z-index: -1;
    height: 134vh;
    width: 110vw;
}

ul{
    font-family: Proxima-nova_light;
    justify-content: center;
    text-align: center;
    display: flex;
    list-style-type: none;
    gap: 5px;
    
}

h1, h2{
    margin: 10px;
    font-family:Proxima-nova;
    color: whitesmoke;
    font-size: 65px;
}

main ul a{
    color:whitesmoke;
    font-size: 50px;
    margin: 20px;
}

main ul a:hover{
    background-color: rgb(20, 18, 17);
}

.pfp {
    margin: auto;
    background-color: aliceblue;
    width: 19vw;
    height: 40vh;
    border-radius: 10px;
}

.one {
    background: url("/Pictures/Mikel.jpg");
    background-size: cover;
}

.two {
    background: url("/Pictures/Joshua.jpg");
    background-size: cover;

}

.three {
    background: url("/Pictures/Hillary.jpg");
    background-size: cover;

}

.four {
    background: url("/Pictures/Zoe.jpg");
    background-size: cover;

}