body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.artsy.net%2Farticle%2Fartsy-editorial-story-worlds-famous-desktop-background&psig=AOvVaw22FnkhqhkyWxbOeLOITalv&ust=1722521270085000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLCgjPW50YcDFQAAAAAdAAAAABAE.jpg);
    text-align: center;
    font-style: italic;
    color: rgb(181, 126, 220);
    background-size: cover;
}